{% macro modal_form(modal_id, title, action, form, parent_id=None,
parent_class=None, redirect=False) %}
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          id="{{ modal_id }}Form"
          action="{{ action }}"
          method="POST"
          data-redirect-on-success="{% if redirect %}true{% endif %}"
        >
          {{ form.hidden_tag() }}
          <!-- {# CSRF Token #} -->

          {% if form.__class__.__name__ == 'QuestionForm' %}
          <!-- {# Check if it's a QuestionForm #}  -->

          {% for field in form if field.widget.input_type != 'hidden' and
          field.name != 'options' %}

          <div class="mb-3">
            <label class="form-label" for="{{ field.id }}"
              >{{ field.label.text }}</label
            >
            {{ field(class="form-control") }} {% if field.errors %}
            <div class="text-danger">
              {% for error in field.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% endfor %} {# Render Options FieldList #}
          <div id="options-container" class="row">
            {% for subform in form.options %}
            <div class="option-group col-md-6">
              {{ subform.hidden_tag() }}
              <div class="mb-3">
                <h6 class="mt-3">Option {{ loop.index }}</h6>
                {{ subform.text(class="form-control") }} {% if
                subform.text.errors %}
                <div class="text-danger">
                  {% for error in subform.text.errors %}
                  <small>{{ error }}</small>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              <div class="form-check mb-3">
                {{ subform.is_correct(class="form-check-input") }} {{
                subform.is_correct.label(class="form-check-label") }} {% if
                subform.is_correct.errors %}
                <div class="text-danger">
                  {% for error in subform.is_correct.errors %}
                  <small>{{ error }}</small>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
          <button
            type="button"
            id="add-option-btn"
            class="btn btn-secondary btn mt-2"
          >
            + Add Option
          </button>
          <button type="submit" class="btn btn-success btn mt-2">Submit</button>

          {% else %}
          <!--For forms other than a QuestionForm -->
          {% for field in form if field.widget.input_type != 'hidden' %} {% if
          field.type == 'BooleanField' %}
          <div class="mb-3 form-check">
            {{ field(class="form-check-input", id=field.id) }}
            <label class="form-check-label" for="{{ field.id }}"
              >{{ field.label.text }}</label
            >
            {% if field.errors %}
            <div class="text-danger">
              {% for error in field.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% else %}
          <div class="mb-3">
            <label class="form-label" for="{{ field.id }}"
              >{{ field.label.text }}</label
            >
            {{ field(class="form-control", id=field.id) }} {% if field.errors %}
            <div class="text-danger">
              {% for error in field.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% endif %} {% endfor %}
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
